@import 'tailwindcss';
:root {
  /* 基础间距系统 - 8点网格 */
  --space-2: 8px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;
  --space-16: 64px;

  /* 语义化间距 */
  --spacing-content: var(--space-4); /* 内容区域内边距 */
  --spacing-card: var(--space-4); /* 卡片内边距 */
  --spacing-section: var(--space-12); /* 区块间距 */
  --spacing-element: var(--space-4); /* 元素间距 */
  --spacing-text: var(--space-2); /* 文本间距 */

  --color-routelink: #bb501c;
  --color-background: #fcfbfa;

  /** 布局 */
  --side-bar-width--collapsed: 64;
  --side-bar-width--expanded: 240;
}

@theme {
  /* 扩展 spacing */
  --spacing-content: var(--spacing-content);
  --spacing-card: var(--spacing-card);
  --spacing-section: var(--spacing-section);
  --spacing-element: var(--spacing-element);
  --spacing-text: var(--spacing-text);
  --spacing-sidebar-collapsed: calc(var(--side-bar-width--collapsed) * 1px);
  --spacing-siderbar-expanded: calc(var(--side-bar-width--expanded) * 1px);
  /** 拓展color */
  --color-routelink: var(--color-routelink);
  --color-background: var(--color-background);
}

@media (max-width: 768px) {
  html {
    font-size: calc(14px + 0.5vw); /* 移动端响应式字体大小 */
  }
  /* :root {
    --spacing-content: var(--space-6);
    --spacing-card: var(--space-6);
    --spacing-section: var(--space-16);
    --spacing-element: var(--space-6);
  } */
}

.hover-shake {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1) translateX(2px) rotate(3deg);
  }
  &:active {
    transform: translateX(0) rotate(0);
  }
}
.n-input {
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #cbc5bf;
  &:hover {
    border-bottom: 2px solid var(--n-primary-color);
  }
}
/**
* 阿里云iconfont通用样式
**/
.zw-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
